*~
*.o
build/
CMakeLists.txt.user
gama/
geodet-pc-mgtso1/
geodet.pc/

# symlink
cmp-gso
cmp-gso.cpp-*

octave-workspace

# icgs.tex
*.aux
*.log
*.out
*.pdf

# randmat directory
randmat.dat
randmat.txt
